<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card border mb-3" style="max-width: 18rem;">
          <div class="card-header border"></div>
          <div class="card-body text-center">
            <h5 class="card-title">Welcome</h5>
            <p class="card-text">Width supporting text below as natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">See transactions</a>
          </div>
          <div class="card-footer border">You have {{totalAll}} transactions</div>
        </div>
      </div>
     </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{totalIncome}}</h5>
            <p class="card-text">Income</p>
            <a routerLink="/navigator" [queryParams]="{tab:0}" class="btn btn-primary float-right">See all</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{totalOutcome}}</h5>
            <p class="card-text">Outcome</p>
            <a routerLink="/navigator" [queryParams]="{tab:1}" class="btn btn-primary float-right">See all</a>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{totalLoans}}</h5>
            <p class="card-text">Loans</p>
            <a routerLink="/navigator" [queryParams]="{tab:2}" class="btn btn-primary float-right">See all</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{totalInvestments}}</h5>
            <p class="card-text">Investments</p>
            <a routerLink="/navigator" [queryParams]="{tab:3}" class="btn btn-primary float-right">See all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
